body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  h1 {
    font-size: 3rem;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .navbar {
    margin-bottom: 30px;
    background-color: #1e1e1e;
  }
  
  .feature-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  footer {
    background-color: #222;
    color: #fff;
  }
  
  /* Hover effects on nav items */
  .nav-item:hover {
    background-color: #444;
    border-radius: 10px;
  }
  /* إضافة تأثير الكتابة */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* تطبيق الحركة على h1 */
h1 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black; /* لإضافة مؤشر الكتابة */
  width: 0;
  animation: typing 4s steps(30) infinite, blink 0.75s step-end infinite;
}

/* إضافة تأثير الوميض للمؤشر */
@keyframes blink {
  0%,
  50%,
  100% {
    border-color: transparent;
  }
  25%,
  75% {
    border-color: black;
  }
}
